body {
    background-image: url(handsome.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    color: #AA4139;
    text-align: center;
    border: 3px solid #FFB0AA;
    cursor: pointer;
}

p {
    color: green;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

.special {
    border: dotted darkblue;
}

#ultradiv {
    background: rgb(11, 164, 184, 0.2);
}

#megadiv {
    background: rgb(255, 0, 0, 0.2);
}